.controller.custom {
    background: url('https://i.imgur.com/fwi7fzI.png');
    height: 850px;
    width: 1050px;
    position: absolute;
    background-repeat: no-repeat;
}

.custom.disconnected {
    background: url('https://i.imgur.com/cVID9ZB.png');
    height: 850px;
    width: 1050px;
    position: absolute;
    background-repeat: no-repeat;
}

.custom.disconnected div {
    display: none;
}

.custom .triggers {
    width: 204px;
    height: 92px;
    top: 13px;
    left: 20px;
    position: absolute;
    background-repeat: no-repeat;
}

.custom .trigger {
    width: 241px;
    height: 114px;
    background: url('https://i.imgur.com/uwo6qTX.png');
    background-repeat: no-repeat;
}

.custom .trigger.left {
    float: left;
    top: 42px;
    left: 22px;
    background-position-x: 120px;
    position: absolute;
}

.custom .trigger.right {
    float: right;
    width: 241px;
    height: 114px;
    top: 42px;
    left: 746px;
    background-position-x: -120px;
    position: absolute;
}

.custom .bumper {
    width: 208px;
    height: 333px;
    left: 155px;
    top: 179px;
    background: url('https://i.imgur.com/MOnDDlJ.png');
    opacity: 0;
    background-repeat: no-repeat;
    position: absolute;
}

.custom .bumper.pressed {
    opacity: 1;
}

.custom .bumper.right {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    float: left;
    left: 686px;
}

.custom .bumper.left {
    float: right;
}

.custom .quadrant {
    position: absolute;
    background: url(http://bit.ly/33UddCD);
    opacity: 1;
    top: 140px;
    left: 240px;
    background-repeat: no-repeat;
}

.custom .p0 {
    background-position: 0 -6px;
}

.custom .p1 {
    background-position: 0 -28px;
}

.custom .p2 {
    background-position: 0 -49px;
}

.custom .p3 {
    background-position: 0 -70px;
}

.custom .arrows {
    position: absolute;
    width: 205px;
    height: 19px;
    top: 250px;
    left: 291px;
    background-repeat: no-repeat;
}

.custom .back, .custom .start {
    background: url('https://i.imgur.com/bdQkVmg.png');
    width: 34px;
    height: 51px;
    background-repeat: no-repeat;
}

.custom .back.pressed, .custom .start.pressed {
    top: -15px;
    opacity: 1;
}

.custom .back {
    /* share */
    position: absolute;
    left: -10px;
    float: left;
    width: 38px;
    height: 55px;
    opacity: 0;
}

.custom .start {
    /* options */
    transform: rotate(24deg);
    position: absolute;
    left: 443px;
    float: right;
    width: 38px;
    height: 55px;
    opacity: 0;
}

.custom .abxy {
    position: absolute;
    background-repeat: no-repeat;
}

.custom .button {
    position: absolute;
}

.custom .button.pressed {
    background: url('https://i.imgur.com/bM0iKXm.png');
    height: 211px;
    width: 211px;
    top: 260px;
    left: 722px;
    background-position-y: -00px;
    margin-top: 0px;
}

.custom .a.pressed {
    /* X on PS5*/
    clip: rect(0px,144px,70px,0px);
    background-position-y: -143px;
    top: 403px;
    background-repeat: no-repeat;
}

.custom .b.pressed {
    /* circle on PS5*/
    clip: rect(0px,72px,140px,0px);
    background-position-x: -144px;
    left: 866px;
    background-repeat: no-repeat;
}

.custom .x.pressed {
    /* square on PS5*/
    clip: rect(0px,72px,140px,0px);
    background-repeat: no-repeat;
}

.custom .y.pressed {
    /* Triangle on PS5*/
    clip: rect(0px,144px,70px,0px);
    background-repeat: no-repeat;
}

.custom .sticks {
    position: absolute;
    width: 364px;
    height: 100px;
    top: 438px;
    left: 321px;
    background-repeat: no-repeat;
}

.custom .stick {
    position: absolute;
    background: url('https://i.imgur.com/6d9WYBz.png');
    height: 116px;
    width: 116px;
    background-repeat: no-repeat;
}

.custom .stick.pressed.left {
    background-position-x: -118px;
}

.custom .stick.pressed.right {
    background-position-x: -118px;
}

.custom .stick.left {
    top: 2px;
    left: -9px;
}

.custom .stick.right {
    top: 2px;
    left: 301px;
}

.custom .meta {
    width: 153px;
    height: 85px;
    position: absolute;
    left: 489px;
    top: 462px;
}

.custom .meta.pressed {
    background: url('https://i.imgur.com/6B3dOXv.png');
    background-repeat: no-repeat;
}

.custom .dpad {
    height: 624px;
    width: 840px;
    background-repeat: no-repeat;
}

.custom .face {
    background: url('https://i.imgur.com/gv5MeOQ.png');
    position: absolute;
    top: 337px;
    left: 140px;
}

.custom .face.right.pressed {
    transform: rotate(180deg);
    top: 337px;
    left: 235px;
    width: 71px;
    height: 58px;
    background-repeat: no-repeat;
}

.custom .face.left.pressed {
    transform: rotate(0deg);
    top: 337px;
    left: 140px;
    width: 71px;
    height: 58px;
    background-repeat: no-repeat;
}

.custom .face.up.pressed {
    transform: rotate(90deg);
    top: 289px;
    left: 187px;
    width: 71px;
    height: 58px;
    background-repeat: no-repeat;
}

.custom .face.down.pressed {
    transform: rotate(-90deg);
    top: 385px;
    left: 187px;
    width: 71px;
    height: 58px;
    background-repeat: no-repeat;
}

.custom .touchpad {
    position: absolute;
    top: 212px;
    left: 322px;
    height: 200px;
    width: 407px;
    background: url('https://i.imgur.com/J1DF8FG.png');
    background-repeat: no-repeat;
    animation: none !important;
    -webkit-animation: none !important;
    filter: none !important;
}

.custom .touchpad.pressed {
    position: absolute;
    top: 186px;
    left: 330px;
    height: 213px;
    width: 391px;
    background: url('https://i.imgur.com/JbzCWdj.png');
    background-repeat: no-repeat;
}
